html {
  width: 100%;
  height: auto;
  min-height: 100%;
}

body:not(div) {  /*temporary*/
  color: cornsilk;  /*temporary*/
  background-image: linear-gradient(to bottom left, royalblue, midnightblue);
  background-repeat: no-repeat;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

header {
  text-align: center;
  margin-top: 90px;
}

img {
  border-radius: 15px;
  width: 333px;
  height: 475px;
  margin: 5px;
  float: left;
  margin-top: 0;
}

.Creators {
  width: 70%;
  height: 70vh;
  color: cornsilk;
  background-image: linear-gradient(to bottom, rgb(30, 30, 30), black);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid cornsilk; /*temporary*/
  overflow: auto;
  margin: auto;
  border-radius: 5px;
}

.container {
  height: 480px;
  width: 100%;
}

.text {
  font-size: 25px;
  line-height: 1.6;
}

.navigation {
  background-image: linear-gradient(to top, rgb(15, 15, 15), black);
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
}

.navigation img {
  float:left;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}

.navigation p {
  margin-left: 10px;
  font-size: 20px;
  float: left;
  padding: 0;
  
}

.navigation a {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 22px;
  font-size: 18px;
  text-decoration: none;
  
}

.navigation a:hover {
  background-image: linear-gradient(to top, lightblue, royalblue);
  color: black;
}

.navigation a.active {
  background-color: cornsilk;
  color: black;
}

footer {
  font-size: 12px;
  border: 1px solid cornsilk;
  margin-right: 0px;
  padding: 0 5px;
  background-color: black; 
  position: fixed;
  right: 0;
  bottom: 0;
}

