* {
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  
  body:not(div) {  /*temporary*/
    display: grid;
    place-items: center;
    height: 105vh;
    margin: 0;
    padding: 0;
    user-select: none;

    color: midnightblue;  /*temporary*/
    background-image: linear-gradient(to bottom left, cornsilk, rgb(255, 239, 149));
  }

  .main {
    display: flex;
    gap: 200px;
  }

  .left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .buttonImage {
    width: 300px;
  }

  .buttonImage:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  .buttonImage:active {
    opacity: 0.8;
    transform: scale(1.05);
  }

  .upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 60px;
    border: 2px midnightblue solid;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 15px;
  }

  .midSection h4 {
    margin: 0;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .midSection p {
    margin: 0;
  }

  .costInfo {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .miniupgradeImg {
    width: 20px;
    margin-left: 20px;
  }

  .smallupgradeImg {
    width: 27px;
    margin-left: 16px;
  }

  .mediumupgradeImg {
    width: 34px;
    margin-left: 12px;
  }

  .bigupgradeImg {
    width: 41px;
    margin-left: 8px;
  }

  .largeupgradeImg {
    width: 48px;
    margin-left: 4px;
  }

  .giantupgradeImg {
    width: 55px;
  }

  .buttonImg {
    width: 20px;
    height: 20px;
  }

  .navigation {
    color: cornsilk;
    background-color: black;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  .navigation img {
    float:left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  .navigation p {
    margin-left: 10px;
    font-size: 20px;
    float: left;
    padding: 0;
    
  }
  
  a {
    text-decoration: none;
    color: cornsilk;
  }
  
  .navigation a {
    float: right;
    color: white;
    text-align: center;
    padding: 20px 22px;
    font-size: 18px;
    text-decoration: none;
    
  }
  
  .navigation a:hover {
    background-color: lightblue;
    color: black;
  }
  
  .navigation a.active {
    background-color: cornsilk;
    color: black;
  }
  
  .nextLevelInfo {
    position: absolute;
    right: -98px;
    height: 60px;
    width: 100px;
    background-color: rgb(233, 233, 233);
    text-align: center;
    border: 2px midnightblue solid;
    display: none;
  }

  .nextLevelInfo p {
    margin-top: 10px;
  }

  .upgrade:hover .nextLevelInfo {
    display: block;
  }

  .footer {
    width: 100%;
  }